@use "src/vars";

.buttonChangePage {
  padding: 20px;
  background-color: vars.$colorBase;
  filter: drop-shadow(0 0 3px black);

  border-radius: 10px;
  height: 56px;
  width: 56px;

  &-inactive {
    padding: 20px;
    pointer-events: none;
    background-color: vars.$colorCard;

    border-radius: 10px;
    height: 56px;
    width: 56px;
  }
}