@use "src/_vars";

.nav {
  display: flex;
}

.nav li {
  padding: 20px 10px;
}

.nav li:hover {
  background-color: vars.$colorAlt;
  color: vars.$colorFontDark;
}

.underline {
  background-color: vars.$colorAlt;
  pointer-events: none;
  color: vars.$colorFontDark;

}