@use "src/vars";

.button {
  width: 150px;
  padding: 20px;
  background-color: vars.$colorBase;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  color: vars.$colorWhite;
  font-size: 1.4rem;
  filter: drop-shadow(0 0 3px black);
}