// souvent on nomme _qqch un fichier contenant des choses ayant vocation à etre importée
@use 'sass:color';

$colorBase: rgb(10, 113, 10);  
$colorAlt: color.scale($colorBase, $lightness: 85%);
$colorCard : rgba(255, 255, 255, 0.643);
$colorCardTag : #4d4c4c;
$colorCardBorder : black;
$colorWhite : white;
